/*-----------------Обнуление----------------------*/
*,
*::before, 
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol, ul, li {
  list-style: none;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100vh;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #c2c8d2
}

/*---------------------------------------*/

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.player_conainer {
  display: flex;
  height: inherit;
  position: relative;
}

.player__background {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #000000 url(./assets/img/MrRager.jpg) center no-repeat;
  background-size: cover;
  filter: blur(3px);
  z-index: -2;
}

.music {}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: auto;
  padding: 60px 30px;
  box-sizing: border-box;
  width: 375px;
  height: auto;
  background-color: rgba(9, 9, 9, 0.78);
  border-radius: 25px;
}

@media (max-width: 479px) {
  .player {
    padding: 0px;
    width: 100%;
    height: 100%;
    justify-content: center;
    border-radius: 0;
  }
}

.player__cover {
  margin: 0px auto;
  display: flex;
  width: 318px;
  height: 318px;
  background-image: url('./assets/svg/cd.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.cover_img {
  margin: auto;
  width: 150px;
  height: 150px;
  background-image: url('./assets/img/MrRager.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100px;
  border: 5px solid #fe7235;
}
.player__song {
  font-size: 36px;
  color: #ffffff
}

.player__singer {}

.player__progress {
  display: flex;
  align-items: center;
  gap: 20px;
}

.current-time {}

.time {
  font-size: 14px;
}

.timeline {
  width: 200px;
  height: 5px;
  position: relative;
  background-color: #000000;
  border-radius: 5px;
  cursor: pointer;
}

.progress-bar {
  background: #fe7235;
  width: 0%;
  height: 100%;
  transition: 0.25s;
}

.length-time {}

.player__controls {
  display: flex;
  align-items: center;
  gap: 55px;
}

.controls__prev {}

.controls {
  cursor: pointer;
}


.controls__play {
  width: 40px;
  height: 45px;
  background-image: url(./assets/svg/play.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.pause {
  background-image: url(./assets/svg/pause.svg);
}


.footer {
  margin-top: auto;
  padding: 20px 5px;
  display: grid;
  grid-template-columns: 200px auto 200px;
  justify-items: center;
  align-items: center;
  color: #fe7235;
  background-color: rgba(9, 9, 9, 0.78);
}

@media (max-width: 479px) {
  .footer {
    grid-template-columns: repeat(3,1fr);
  }
}  